.folder-icon {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}


.folders-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  position: relative;
}
